<mat-card class="auth-card">
  <h2>สมัครสมาชิก</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" type="text">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword">
        <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" type="button">
          <mat-icon>{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit">สมัครสมาชิก</button>
  </form>

  <div style="margin-top: 15px"><a routerLink="/login">ลงชื่อเข้าใช้งาน</a></div>
</mat-card>
